<main className="main_contacto">
    <div className="formulario_contacto">
        <div>
            <h4>Modificar el producto</h4>
            <form action="/admin/administrador/modificar" method="post" class="formulario">
     
                <input type="hidden" value="{{producto.id}}" name="id">
                <div>
                    <label for="tipo">Tipo</label>
                    <input type="text" name="tipo" value="{{producto.tipo}}"/>
                </div>

                <div>
                    <label for="clase">Clase</label>
                    <input type="text" name="clase" value="{{producto.clase}}" />
                </div>
                <div>
                    <label for="cuerpo">Descripcion</label>
                    <textarea name="cuerpo" id="" cols="30" rows="10" >{{producto.cuerpo}}</textarea>

                </div>
                <div>
                    <button type="submit">Guardar</button>
                </div>
            </form>
            {{#if error}}
                <p>{{mensaje}}</p>
            {{/if}}


        </div>
    </div>
</main>